import init.odroidu.usb.rc

on init

    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root
    mkdir /storage/sdcard0/.android_secure 0775 system system

    mkdir /mnt/media_rw/sdcard0 0700 media_rw media_rw
    mkdir /storage/sdcard0 0700 root root

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    mkdir /mnt/media_rw/usbdisk 0700 media_rw media_rw
    mkdir /storage/usbdisk 0700 root root
   
    
    export EXTERNAL_STORAGE /storage/sdcard0
    export SECONDARY_STORAGE /storage/sdcard1:/storage/usbdisk

    # for backwards compatibilit
    symlink /storage/sdcard0 /sdcard
    symlink /storage/sdcard0 /mnt/sdcard
    symlink /storage/sdcard1 /extSdCard
    symlink /storage/sdcard1 /mnt/extSdCard
    symlink /storage/usbdisk /usbdisk

    on post-fs-data
    mkdir /data/media 0770 media_rw media_rw

    setprop vold.post_fs_data_done 1

on boot
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    setprop ro.radio.noril yes

    # Reduce reserved lowmem from ~48MB to ~12MB
    write /proc/sys/vm/lowmem_reserve_ratio "128 128"

    # Set up kernel tracing, but disable it by default
    chmod 0222 /sys/kernel/debug/tracing/trace_marker
    write /sys/kernel/debug/tracing/tracing_on 0

# Run sysinit
    start sysinit

on fs
    mount_all /fstab.odroidu
    setprop ro.crypto.fuse_sdcard true

	#===================================================================
	#
	# wi-fi post data
	#
	#===================================================================
	mkdir /data/misc/wifi 0770 wifi wifi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	chown dhcp dhcp /data/misc/dhcp

	setprop wifi.interface "wlan0"
	setprop wlan.interface "wlan0"
	setprop wlan.driver.status "ok"

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0666	/sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0666	/sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0666	/sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq


on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0775 media_rw media_rw

# Permissions for backlight
    chown system system /sys/class/backlight/pwm-backlight.0/brightness
    chmod 0666 /sys/class/backlight/pwm-backlight.0/brightness
    
on post-fs-data

   setprop vold.post_fs_data_done 1
    
# su daemon
service su_daemon /system/xbin/su --daemon
    class core
    user root
    group root
    oneshot

# virtual sdcard daemon running as media_rw (1023)

service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard0 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard0 /storage/sdcard0
    class late_start
    disabled

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled
    
service fuse_usbdisk /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbdisk /storage/usbdisk
    class late_start
    disabled

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
    mmcblk0p3 \
    mmcblk0p4
    class core
    user root
    group root
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -Dwext -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# eth0
service dhcpcd_eth0 /system/bin/dhcpcd -ABDKL
    class main
    disabled
    oneshot

# IP Renew
# eth0 
service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service insmod_ax88179 /system/bin/insmod /system/lib/modules/ax88179_178a.ko
    class core
    user root
    group root
    oneshot
  
service insmod_smsc95xx /system/bin/insmod /system/lib/modules/smsc95xx.ko    
    class core
    user root
    group root
    disabled
    oneshot

service uvc_usb_module /system/bin/insmod /system/lib/modules/uvcvideo.ko    
    class core
    user root
    group root
    oneshot

service insmod_usbmidi /system/bin/insmod /system/lib/modules/snd-usbmidi-lib.ko
    class core
    user root
    group root
    oneshot

service insmod_usb_audio /system/bin/insmod /system/lib/modules/snd-usb-audio.ko    
    class core
    user root
    group root
    disabled
    oneshot

on property:init.svc.insmod_usbmidi=stopped
    start insmod_usb_audio

on property:init.svc.insmod_ax88179=stopped
    start insmod_smsc95xx

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
