import init.odroidu.usb.rc
on early-init
    export EXTERNAL_STORAGE /mnt/sdcard
    export SECONDARY_STORAGE /mnt/ext_sd
    mkdir /mnt/sdcard 0000 system system
    symlink /mnt/sdcard /sdcard
    mkdir /mnt/ext_sd 0000 system system	
    mkdir /mnt/ext_usb 0000 system system	

on boot
    setprop ro.build.product odroidu
    setprop ro.product.device odroidu
    setprop ro.radio.noril yes
    setprop ro.kernel.android.ril 0
    setprop ril.work 0

# Run sysinit
    start sysinit

on fs
    mount ext4 /dev/block/mmcblk0p2 /system rw wait
#   mount ext4 /dev/block/mmcblk0p3 /data wait nosuid nodev noatime nomblk_io_submit
    mount ext4 /dev/block/mmcblk0p3 /data nosuid nodev noatime wait usedm discard,noauto_da_alloc,nodelalloc
    mount ext4 /dev/block/mmcblk0p4 /cache wait nosuid nodev noatime nomblk_io_submit
    mount usbfs none /proc/bus/usb -o devmode=0666
# jmq.disable

	#===================================================================
	#
	# permissions for bluetooth Mac address
	#
	#===================================================================
	chown bluetooth bluetooth /system/etc/bluetooth
	chmod 755 /system/etc/bluetooth

# Permissions for backlight
    chmod 0665 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness
# Permissions for btpower
#    chown system system /sys/devices/platform/bt-sysfs/bt_power

	#===================================================================
	#
	# ARM Streamline debugger(ARM-DS5)
	#
	#===================================================================
	mkdir /data/gatord 0777 system system
    copy /system/bin/gatord /data/gatord/gatord
    chmod 0777 /data/gatord/gatord

on post-fs-data
	#===================================================================
	#
	# wi-fi post data
	#
	#===================================================================
	mkdir /data/misc/wifi 0770 wifi wifi
	mkdir /data/misc/wifi/sockets 0770 wifi wifi
	mkdir /data/misc/dhcp 0770 dhcp dhcp
	chown dhcp dhcp /data/misc/dhcp

	setprop wifi.interface "wlan0"
	setprop wlan.interface "wlan0"
	setprop wlan.driver.status "ok"
#    setprop ro.crypto.fuse_sdcard true

    stop ril-daemon

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0666	/sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0666	/sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0666	/sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

#===================================================================
#
# ARM Streamline debugger Service
#
#===================================================================
service gator_module /system/bin/insmod /system/lib/modules/gator.ko
    class core
    user root
    group root
    oneshot

service gator_daemon /data/gatord/gatord
    class main
    user root
    group root

service insmod_smsc95xx /system/bin/insmod /system/lib/modules/smsc95xx.ko    
    class core
    user root
    group root
    disabled
    oneshot

service insmod_ax88179 /system/bin/insmod /system/lib/modules/ax88179_178a.ko    
    class core
    user root
    group root
    oneshot

service uvc_usb_module /system/bin/insmod /system/lib/modules/uvcvideo.ko    
    class core
    user root
    group root
    oneshot

service insmod_usbmidi /system/bin/insmod /system/lib/modules/snd-usbmidi-lib.ko
    class core
    user root
    group root
    oneshot

service insmod_usb_audio /system/bin/insmod /system/lib/modules/snd-usb-audio.ko    
    class core
    user root
    group root
    disabled
    oneshot

on property:init.svc.insmod_ax88179=stopped
    start insmod_smsc95xx

on property:init.svc.insmod_usbmidi=stopped
    start insmod_usb_audio

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
            /dev/block/mmcblk0p3 \
            /dev/block/mmcblk0p4
    class core
    user root
    group root
    oneshot

#===================================================================
#
# WIFI wpa suppplicant service
#
#===================================================================
service wpa_supplicant /system/bin/wpa_supplicant -Dwext -iwlan0 -c /data/misc/wifi/wpa_supplicant.conf
	class main
    socket wpa_wlan0 dgram 0660 wifi wifi
	disabled
	oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -ABKL
	class main
	disabled
	oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

service iprenew_bnep0 /system/bin/dhcpcd -n
	class main
	disabled
	oneshot

# IP Renew
# eth0 
service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
